<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="&apos;Her&apos; Safety"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application"
        android:usesCleartextTraffic="true">
        <activity android:name=".EscapeActivity"></activity>
        <activity android:name=".LawsActivity" />
        <activity android:name=".DefenceActivity" />
        <activity android:name=".TipsActivity" />
        <activity android:name=".AddContactActivity" />
        <activity android:name=".EmergencyNumbersActivity" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_emergency_contacts"
            android:theme="@style/Theme.Application.NoActionBar" />
        <activity android:name=".MapActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>